<div class="container">
  <div class="row">
    <div class="col">
      <app-messege-sender></app-messege-sender>
    </div>
    <div class="col">
      <app-messege-sender-two></app-messege-sender-two>
    </div>
    <div class="col">
      <app-person></app-person>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-all-messegers></app-all-messegers>
    </div>
    <div class="col">
      <app-specific-messeger></app-specific-messeger>
    </div>
  </div>
</div>