<form [formGroup]="RegistrationForm">
    <div class="style">
        <h2 class="bottom-style">Person 3</h2>
        <label>Messege</label> <br>
        <input type="text" formControlName="Input"><br>
        <input type="checkbox" formControlName="checkBox">
        <label class="adjust">Important Message</label><br>
        <button type="button" (click)="sendValue()" class="btn btn-primary">send</button>
        <br>

    </div>
</form>