<form [formGroup]="RegistrationForm">
  <div class="style">
    <h2 class="bottom-style">Person 1</h2>

    <label>Messege</label><br>
    <input type="text" formControlName="Input"><br>
    <input type="checkbox" formControlName="IsImportant">
    <label class="adjust">Is Important Message</label><br>
    <button type="button" (click)="emit()" class="btn btn-primary">send</button>

    <br>

  </div>
</form>